<div class="container" >
  <form #addForm="ngForm" (ngSubmit)="onSubmit()" ngNativeValidate>
    <label for="name" style="color: honeydew;"><b>Product Name:</b></label>
    <input type="text" id="name" name="productName"  [(ngModel)]="productName" required pattern="[A-Za-z][A-Za-z_$0-9]*" style="font-size: medium;height: 36px;width: 250px;"><br>
    <label for="quantity" style="color: honeydew;"><b>Available Quantity:</b></label>
    <input type="number" id="quantity" name="availableQuantity" [(ngModel)]="availableQuantity" required min="1" style="font-size: medium;height: 36px;width: 250px;" (input)="sliceInput()" ><br>
    <input class="button" type="submit" value="Add">
  </form>
</div>
  
