@import "//netdna.bootstrapcdn.com/twitter-bootstrap/2.2.2/css/bootstrap-combined.min.css";
.button {
  background-color: #0041C2;
 } 
 .container{
  margin:auto 50px;
  display: flex;
  justify-content: center;
  padding: 15px;
  background-color: gray;
  border-radius: 5px;
} 

/* style="padding: 15px;background-color: gray;border-radius: 5px;" */