<div >
  <nav class="navbar navbar-light bg-light">
   <span class="navbar-brand mb-0 "> <h1>Online Retail Shopping</h1></span>
  </nav>

  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" ></a>
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/list-items" routerLinkActive="active"><h2>List Products</h2> </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/add-items"   routerLinkActive="active"><h2>Add Products</h2></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/cart-items"   routerLinkActive="active"><h2>Order Summary</h2></a>
        </li>
      </ul>
  </nav>
  <router-outlet></router-outlet>
</div>



  