<div class="tabs">
  <div id="tab3" class="tab">
    <ul class="nav nav-tabs">
      <li><a routerLink="/list-items" routerLinkActive="active">ListItems</a></li>
      <li>  <a routerLink="/add-items" routerLinkActive="active">AddItems</a><br>
</li>
     
    </ul>

  </div>
  <router-outlet></router-outlet>



<!-- <div>
  <a routerLink="/list-items" routerLinkActive="active">ListItems</a><br>
  <a routerLink="/add-items" routerLinkActive="active">AddItems</a><br>

</div> -->

<!-- <div class="tabs">
  <div id="tab3" class="tab">
    <ul class="nav nav-tabs">
      <li><a routerLink="/list-items" routerLinkActive="active">ListItems</a></li>
      <li>  <a routerLink="/add-items" routerLinkActive="active">AddItems</a><br>
</li>
     
    </ul>

  </div>

  <div id="tab2" class="tab">
    <ul class="nav nav-tabs">
      <li><a href="#tab1">ListItems</a></li>
      <li class="active"><a href="#tab2">AddItems</a></li>
      
    </ul>

   
  </div> -->
