<div >
  <nav class="navbar navbar-light bg-light">
   <span class="navbar-brand mb-0 "> <h2>Online Retail Shopping</h2></span>
  </nav>

  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" ></a>
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/list-items" routerLinkActive="active"><h4>List Products</h4> </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/add-items"   routerLinkActive="active"><h4>Add Products</h4></a>
        </li>
      </ul>
  </nav>
  <router-outlet></router-outlet>
</div>



  