
    <table class="table containerdiv">
        <thead>
            <tr>
                <th>Product Name</th>
                <th>Available Quantity</th>
                <th>Price per Quantity</th>
                <th>Order</th>
                <th>Delete</th>
                <th>Update</th>
            </tr>
        </thead>

        <tr *ngFor="let item of filteredproductList">
           
                <td>{{ item.productName }}</td>
                <td>{{ item.availableQuantity }}</td>
                <td>{{ item.unitPrice }}</td>
                <td>
                    <!-- <a id="{{item.productId}}" [routerLink]="['/order-items', item.productId]"
                        routerLinkActive="active">Order</a> -->
                    <button [routerLink]="['/order-items', item.productId]" routerLinkActive="active">
                        Order
                    </button>
                </td>

                <td><button (click)="deleteItem(item.productId)">Delete</button></td>
                <td>
                    <button  [routerLink]="['/update-product', item.productId]">
                        Update
                    </button>
                </td>
                <!-- <td> <button (click)="delete()">Delete</button> </td>  -->

                <!-- <td><button class="GFG" 
    onclick="window.location.href = 'https:'/order-items;"> 
       Delete
    </button> </td>  -->
                <!-- <list-items (deleteRequest)="deleteItem($event)" [data]="currentItem"></list-items> -->
           
        </tr>
    </table>


<router-outlet></router-outlet>