
  

  <head>
    <style>
       table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  
  
    </style>
    </head>
    <body>
    
   <br>
   <br>
   
    <table>
      <thead>
          <tr>
            <th >productName</th>
            <th >productId</th>
            <th >availableQuantity</th>
            <th>Order</th>
            
          </tr>
      </thead>
          
      <tr  *ngFor="let item of productList;let i=index">
          <ng-template [ngIf]="(item.productName!=null && item.productName!='' && item.availableQuantity!=0)">
              <td >{{item.productName}}</td>
              <td >{{item.productId}}</td>
              <td >{{item.availableQuantity}}</td>
              <td><a  id="{{item.productId}}" [routerLink]="['/order-items', i]" routerLinkActive="active">Order</a>
                  
              </td>
          </ng-template>
        </tr>
     
      
    </table>
    
    </body>
    
    <router-outlet></router-outlet>
    
